/* Creates the font family for the third party font*/
@font-face {
    font-family: "Jersey-25";
    src: url(fonts/Jersey25-Regular.ttf);
}

/* Handles the responsiveness of the webpage for different screen types */
@media screen {
    video {
        width: 100%;
    }

    image {
        width: 100%;
    }
}

/* Changes all the font to the one that is a third party import */
* {
    font-family: "Jersey-25", sans-serif;
}

/*CSS variable declaration and initialization*/
body {
    --my-var: red;
}

/* Adds an underline to the title */
h1 {
    text-decoration-line: underline;
}

/* Element Selector Makes all the subsections colored with a red title*/
h5 {
    color: var(--my-var, hsl(0, 93%, 49%));
    font-size: 1.2rem;
    text-align: center;
}

/* Selector List: Makes both unordered and ordered lists, as well as paragaphs the same color*/ 
p, ul, ol {
    color: color-mix(display-p3, color(display-p3 0.8 0.8 0.8) 50%, color(display-p3 0.5 0.5 0.5) 50%);
    font-size: 0.75em;
}

p:has(+ ul) {
    color: gray;
}

/* Handles the box model and sizing for the form element */
form {
    display: block;
    position: static;

    border-style: dotted;
    border-color: blue;
    border-width: 2pt;
    border-radius: 0vw;

    height: 435px;
    width: 50%;
    max-width: 1000px;
    min-width: 500px;
    background-color: aqua;

    margin: auto;
}

/* Handles the box model for the main element */
main {
    display: inline-block;
    position: relative;
    right: 5px;

    border-style: dotted;
    border-color: black;
    border-width: 2pt;
    border-radius: 0vw;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Handles the box model for section elements */
section, div {
    border-style: dotted;
    border-color: red;
    border-width: 2pt;
    border-radius: 0vw;

    margin: 30px 10px 30px 10px; 
}

/* Handles the box model for the header element */
header {
    border-style: dotted;
    border-color: green;
    border-width: 2pt;
    border-radius: 0vw;

    padding-top: 0.5cm;
    padding-bottom: 0cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

/* Handles the box model for the footer element */
footer {
    border-style: dotted;
    border-color: purple;
    border-width: 2pt;
    border-radius: 0vw;

    padding: 0.5cm 0cm 0.5cm 0.5cm;
}

/* Uses flex to adjust the layout, as well as an ID selector */
#headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Uses a class selector to implement grid on the footer */ 
.footer_layout {
    display: grid;
    justify-items: center;
    align-items: center;
}

/* Another class selector to target the video */
.itemA {
    place-self: center;
}

/* Uses the :has() selector */
div:has(p) {
    text-align: center;
}

/* Uses the :has() selector */
section:has(p) {
    text-align: center;
}

/* Demonstrates a nested selector using the items in the form fieldset */
fieldset {
    text-align: center;

    /* Pseudo-class item to have the button have a shadow on click */
    & button:active {
        box-shadow: 2px 2px 5px red;
    }

    /* Pseudo-class item to have the button change color on hover */
    & button:hover {
        background-color:pink;
    }
}

/* Uses the attribute selector to change the color of a specified h5 to blue */
h5[lang~="en-us"] {
    color: blue;
}