@font-face {
    font-family: "Jersey-25";
    src: url(fonts/Jersey25-Regular.ttf);
}

body {
    --my-var: red;
}

/* Element Selector Makes all the subsections colored with a red title*/
h5 {
    color: var(--my-var, hsl(0, 93%, 49%));
    font-family: 'Jersey-25', sans-serif;
    font-size: 1.2rem;
}

/* Selector List: Makes both unordered and ordered lists, as well as paragaphs the same color*/ 
p, ul, ol {
    color: color-mix(in srgb, rgb(150, 150, 150) 50%, rgb(0, 0, 255) 50%);
    font-size: 0.75em;
}

form {
    height: 435px;
    width: 50%;
    max-width: 1000px;
    min-width: 500px;
    background-color: aqua;
}

